{% extends "layout.html" %}

{% block content %}

<h2>About my project</h2>
<h3>Corona virus</h3>

<h4>
    This project is a part of our Data-science course in school. It is a part of our final project which is a 30% in our final computer science grade.
    In the project we were instructed to find datasets analyze them in a flask project template.
    I chose the Corona virus datasets which shows the number of deaths, confirmed and recovered of infected corona virus cases.
    while doing the project I have used a lot of tools such as: Visual Studio, W3Schools and some other websites that I have found using the internet.
</h4>

{% endblock %}
