{% extends "layout.html" %}

{% block content %}

        <br />
        <h1>About My Project</h1>
        <br />
        <div class="row">
            <div class="col-md-9">

                <p style="font-size: 16px;">

                    It is part of my class final computer science project and represents 30% of my final grade.
                    <br /><br />
                    In this project we picked datasets in areas of interest and analyze them in a flask project template.
                    <br /><br />
                    I picked an actual area with great worldwide interest - the spread of the Corona virus dieses (COVID-19).
                    <br /><br />
                    I found relevant datasets which show the number of confirmed, deaths and recovered of COVID-19 cases.
                    <br /> <br />
                    While doing the project I have used several tools such as:
                    <br /> <br />
                    - Visual Studio
                    <br /> <br />
                    - W3Schools
                    <br /> <br />
                    - Flask
                    <br /> <br />
                    - Other websites that I have found using the internet.
                    <br /> <br />
                </p>
            </div>
            <div class="col-md-3">
                <img src="../static/imgs/backround photo.jpg" style="width: 300px; height: 300px" />
            </div>
        </div>
        <div class="row my-grid-borders">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><h4>Specification Document</h4></td>
                        <td><a class="btn btn-primary" href="https://drive.google.com/file/d/1D3TbK61kkfibPYwWIvj0EM3EUnAB-Jir/view?usp=sharing" target="_blank">Go &raquo;</a></td>
                    </tr>
                    <tr>
                        <td><h4>Link to my code on GitHub</h4></td>
                        <td><a class="btn btn-primary" href="https://github.com/jonathankatz22/jonathankatznew1" target="_blank">Go &raquo;</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        







        {% endblock %}
