{% extends "layout.html" %}


{% block content %}

<h1>Confirmed Cases</h1>
<p style="font-size: 16px;">The number of confirmed Corona virus cases along the time axis in different countries or regions is one of the most important tracked indicators for the spread of the Corona virus disease.  These numbers are an area of great interest for the world health orgnaization,
    governments and world population. As such, these numbers help the policy makers understand if the spread of the disease accelates, flattens or slows down and as a result set the ncessary steps to stop the spread by applying home quarrentine, lockdown or relief from these extreme measures when the spread shows signs of slow down. 
    </p>
<br />

<div style="font-size: 16px;" class="row">
    <table class="table table-bordered">
        <tr>
            <td>Province/State</td>
            <td>Province/State</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>The country</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>The number of confirmed Corona virus cases on a given date in a given province/state and country</td>
        </tr>
        </table>
</div>
<div class="row">
    <div class="col-md-5">
        <form method="post">
            {{ form1.csrf_token }}
            <input class="btn btn-success" type="submit" name="action" value="Expand">
        </form>
    </div>
    <div class="col-md-5">
        <form method="post">
            {{ form2.csrf_token }}
            <input class="btn btn-danger" type="submit" name="action" value="Collapse">
        </form>
    </div>
</div>
<div class="row">
    {{ raw_data_table | safe}}
</div>
<img src="../static/imgs/confirmed cases photo.jpg" style="width: 1000px; height:300px" />

{% endblock %}
