{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}:</h2>

<div class="row">
    <div class="col-md-6">
        <address>

            <strong>Name: </strong>
            <br />Jonathan Katz<br />
            <strong>Gmail:</strong>
            <br />yonatan1.katz@gmail.com<br />
            <strong>Phone:</strong>
            <br />055-8814333<br />
        </address>
    </div>

    <div class="col-md-6">

        <img src="../static/imgs/JonathanKatz (3).jpg" style="width: 400px; height: 400px" />
    </div>
</div>
 
    

{% endblock %}
