{% extends "layout.html" %}


{% block content %}

    <h1><strong>Death Cases</strong></h1>
<h2>Corona virus death rate is an area of concern for the world health orgnaization and governments.
    These try to assess the level of fatality of this virus and what populations are most volenurable</h2>

<div class="row">
    <table class="table table-bordered">
        <tr>
            <td>Province/State</td>
            <td>Province/State</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>The country</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>The number of deceased cases on a given date in a given province/state and country</td>
        </tr>
    </table>
</div>

<p></p>

<div class="row">
    <div class="col-md-5">
        <form method="post">
            {{ form1.csrf_token }}
            <input class="btn btn-success" type="submit" name="action" value="Expand">
        </form>
    </div>
    <div class="col-md-5">
        <form method="post">
            {{ form2.csrf_token }}
            <input class="btn btn-danger" type="submit" name="action" value="Collapse">
        </form>
    </div>
</div>
<div class="row">
    {{ raw_data_table | safe}}
</div>
{% endblock %}
