{% extends "layout.html" %}


{% block content %}

<h2>This following data provides a summary of the tracked death, recovery and confirmed Corona virus cases. </h2>

<div class="row">
    <table class="table table-bordered">
        <tr>
            <td>SNo</td>
            <td>Serial Number</td>
        </tr>
        <tr>
            <td>ObservationDate</td>
            <td>The date when new data measured</td>
        </tr>
        <tr>
            <td>Province/State</td>
            <td>Province/State</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>The country</td>
        </tr>
        <tr>
            <td>Last Update</td>
            <td>Date and time of last update</td>
        </tr>
        <tr>
            <td>Confirmed</td>
            <td>The number of new confirmed Corona cases at the given observation date</td>
        </tr>
        <tr>
            <td>Deaths</td>
            <td>The number of new death Corona cases at the given observation date</td>
        </tr>
        <tr>
            <td>Recovered</td>
            <td>The number of new recovered Corona cases at the given observation date</td>
        </tr>
    </table>
</div>

<p></p>

<div class="row">
    <div class="col-md-5">
        <form method="post">
            {{ form1.csrf_token }}
            <input class="btn btn-success" type="submit" name="action" value="Expand">
        </form>
    </div>
    <div class="col-md-5">
        <form method="post">
            {{ form2.csrf_token }}
            <input class="btn btn-danger" type="submit" name="action" value="Collapse">
        </form>
    </div>
</div>
<div class="row">
    {{ raw_data_table | safe}}
</div>
{% endblock %}
